@page "/card"
@rendermode InteractiveServer

<PageTitle>ScratchCard</PageTitle>

<Flex Vertical>
    <Steps Current="@step" Class="site-navigation-steps">
        <Step Title="设置卡片长度和宽度" />
        <Step Title="设置奖品种类和数量" />
        <Step Title="完成" />
    </Steps>
    <div>
        <Button Type="@ButtonType.Primary"
            AutoLoading
            OnClick="NextStep">
        NextStep
        </Button>
    </div>
</Flex>

@code {
    //当前步骤
    private int step = 0;

    private void NextStep(){
        step++;
    }
}
